nav {
    background-color: #333;
    padding: 10px;
    text-align: center; /* Center the navigation links */
}

ul {
    list-style-type: none;
    display: inline-block; /* Align the list items horizontally */
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px; /* Add padding to the navigation links */
    border-radius: 5px; /* Add rounded corners to the links */
}

a:hover {
    background-color: #555; /* Change background color on hover */
}

.project {
    margin-bottom: 20px;
    padding: 20px; /* Add padding to each project */
    border: 1px solid #ddd; /* Add a border to each project */
    border-radius: 5px; /* Add rounded corners to each project */
}

#contact form input,
#contact form textarea {
    width: 100%; /* Make input fields and textarea full width */
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#contact form button {
    background-color: #555;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#contact form button:hover {
    background-color: #777;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed; /* Stick the footer to the bottom */
    width: 100%;
    bottom: 0;
}
